{% extends 'sideBar.html' %}

{% block Main %}
<form method="POST">
    {%csrf_token%}
    <table cellpading="10" cellspacing="10" border="1">

        <tr>
            <td>UserName</td>
            <td><input type="text" name="uname"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="passw"></td>

        </tr>
        <tr>
            <td><input type="submit" value="Login"></td>
            <td><a href="/addUser">click here for Register</a></td>

        </tr>

    </table>
</form>

{% endblock %}

